In [ ]:
# Importing packages 
import pandas as pd

In [ ]:
# Converting all cleaned Active Zone Minutes CSVs to dataframes
AZM_Jan_df = pd.read_csv("CSVs/Active Zone Minutes - 2025-01-01_cleaned.csv", parse_dates=["date"])
AZM_Feb_df = pd.read_csv("CSVs/Active Zone Minutes - 2025-02-01_cleaned.csv", parse_dates=["date"])
AZM_Mar_df = pd.read_csv("CSVs/Active Zone Minutes - 2025-03-01_cleaned.csv", parse_dates=["date"])
AZM_Apr_df = pd.read_csv("CSVs/Active Zone Minutes - 2025-04-01_cleaned.csv", parse_dates=["date"])
AZM_May_df = pd.read_csv("CSVs/Active Zone Minutes - 2025-05-01_cleaned.csv", parse_dates=["date"])
AZM_Jun_df = pd.read_csv("CSVs/Active Zone Minutes - 2025-06-01_cleaned.csv", parse_dates=["date"])

In [ ]:
# Combining all dataframes together
AZM_df = pd.concat([AZM_Jan_df, AZM_Feb_df, AZM_Mar_df, AZM_Apr_df, AZM_May_df, AZM_Jun_df], ignore_index=True)
AZM_df

          date  active_zone_minutes
0   2025-01-04                   37
1   2025-01-05                   22
2   2025-01-06                   64
3   2025-01-07                   79
4   2025-01-08                    7
..         ...                  ...
172 2025-06-25                  166
173 2025-06-26                  112
174 2025-06-27                   18
175 2025-06-28                    5
176 2025-06-29                    3

[177 rows x 2 columns]

In [ ]:
# Confirmed the date is in the datetime datatype
AZM_df.dtypes

date                   datetime64[ns]
active_zone_minutes             int64
dtype: object

In [ ]:
# Converting the combined dataframe back into a CSV
AZM_df.to_csv("active_zone_minutes.csv", index=False)