In [3]:
import pandas as pd

In [4]:
AZM_Jan_df = pd.read_csv("Active Zone Minutes - 2025-01-01_cleaned.csv", parse_dates=["date"])
AZM_Feb_df = pd.read_csv("Active Zone Minutes - 2025-02-01_cleaned.csv", parse_dates=["date"])
AZM_Mar_df = pd.read_csv("Active Zone Minutes - 2025-03-01_cleaned.csv", parse_dates=["date"])
AZM_Apr_df = pd.read_csv("Active Zone Minutes - 2025-04-01_cleaned.csv", parse_dates=["date"])
AZM_May_df = pd.read_csv("Active Zone Minutes - 2025-05-01_cleaned.csv", parse_dates=["date"])
AZM_Jun_df = pd.read_csv("Active Zone Minutes - 2025-06-01_cleaned.csv", parse_dates=["date"])

In [5]:
AZM_df = pd.concat([AZM_Jan_df, AZM_Feb_df, AZM_Mar_df, AZM_Apr_df, AZM_May_df], ignore_index=True)
AZM_df

          date  active_zone_minutes
0   2025-01-04                   37
1   2025-01-05                   22
2   2025-01-06                   64
3   2025-01-07                   79
4   2025-01-08                    7
..         ...                  ...
143 2025-05-27                   38
144 2025-05-28                  105
145 2025-05-29                   24
146 2025-05-30                    4
147 2025-05-31                    8

[148 rows x 2 columns]

In [6]:
AZM_df.dtypes

date                   datetime64[ns]
active_zone_minutes             int64
dtype: object

In [7]:
AZM_df.to_csv("active_zone_minutes.csv", index=False)