In [1]:
# Importing packages 
import pandas as pd

In [2]:
# Converting all cleaned Steps CSVs to dataframes
Steps_Jan_df = pd.read_csv("CSVs/steps_2025-01-01_cleaned.csv", parse_dates=["date"])
Steps_Feb_df = pd.read_csv("CSVs/steps_2025-02-01_cleaned.csv", parse_dates=["date"])
Steps_Mar_df = pd.read_csv("CSVs/steps_2025-03-01_cleaned.csv", parse_dates=["date"])
Steps_Apr_df = pd.read_csv("CSVs/steps_2025-04-01_cleaned.csv", parse_dates=["date"])
Steps_May_df = pd.read_csv("CSVs/steps_2025-05-01_cleaned.csv", parse_dates=["date"])
Steps_Jun_df = pd.read_csv("CSVs/steps_2025-06-01_cleaned.csv", parse_dates=["date"])

In [3]:
# Combining all dataframes together
Steps_df = pd.concat([Steps_Jan_df, Steps_Feb_df, Steps_Mar_df, Steps_Apr_df, Steps_May_df, Steps_Jun_df], ignore_index=True)
Steps_df

          date  total_steps_taken
0   2025-01-04               5615
1   2025-01-05               8105
2   2025-01-06               5923
3   2025-01-07              20018
4   2025-01-08              13712
..         ...                ...
172 2025-06-25               9272
173 2025-06-26              11772
174 2025-06-27               7560
175 2025-06-28               2799
176 2025-06-29               1927

[177 rows x 2 columns]

In [4]:
# Confirmed the date is in the datetime datatype
Steps_df.dtypes

date                 datetime64[ns]
total_steps_taken             int64
dtype: object

In [5]:
# Converting the combined dataframe back into a CSV
Steps_df.to_csv("steps.csv", index=False)